@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,italic&display=swap);
@charset "UTF-8";
@font-face {
  font-family: Benzin;
  font-display: swap;
  src: url("../fonts/Benzin-Bold (1).woff2") format("woff2"), url("../fonts/Benzin-Bold (1).woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Benzin;
  font-display: swap;
  src: url("../fonts/Benzin-Medium.woff2") format("woff2"), url("../fonts/Benzin-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Benzin;
  font-display: swap;
  src: url("../fonts/Benzin-Semibold.woff2") format("woff2"), url("../fonts/Benzin-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
html {
  scroll-behavior: smooth;
}

.wrapper {
  background: linear-gradient(104.87deg, #000016 18.21%, #0f1547 51.56%, #000016 78.36%);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 72.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.btn {
  display: inline-block;
  background: linear-gradient(99.53deg, rgba(255, 255, 255, 0) 33.64%, rgba(255, 255, 255, 0.35) 61.43%, rgba(255, 255, 255, 0) 78.92%), linear-gradient(96.54deg, #4196f9 24.11%, #2776d1 84.92%);
  box-shadow: 0px 5px 0px #164782, inset 0px -4px 8px rgba(255, 255, 255, 0.2), inset 0px 4px 8px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2222222222;
  letter-spacing: 0.4em;
  transition: transform 0.3s;
}
.btn:hover {
  transform: scale(1.03);
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .btn {
    padding-top: clamp( 1.75rem , 1.005952381rem  +  3.7202380952vw , 3.3125rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .btn {
    padding-top: 1.75rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .btn {
    padding-bottom: clamp( 1.75rem , 1.005952381rem  +  3.7202380952vw , 3.3125rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .btn {
    padding-bottom: 1.75rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .btn {
    padding-left: clamp( 1.875rem , -0.7142857143rem  +  12.9464285714vw , 7.3125rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .btn {
    padding-left: 1.875rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .btn {
    padding-right: clamp( 1.875rem , -0.7142857143rem  +  12.9464285714vw , 7.3125rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .btn {
    padding-right: 1.875rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .btn {
    font-size: clamp( 0.875rem , 0.755952381rem  +  0.5952380952vw , 1.125rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .btn {
    font-size: 0.875rem;
  }
}

.title {
  font-family: "Benzin";
  font-weight: 700;
  font-size: 64px;
  line-height: 1.375;
  color: #f7f7ff;
  text-align: center;
}
@media (min-width: 74.375em) {
  .title {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .title {
    font-size: clamp( 1.5rem , 0.5804597701rem  +  4.5977011494vw , 4rem );
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 81px;
  padding: 0.3125rem 0.9375rem;
}
.header__container::before {
  content: "";
  z-index: -2;
  position: absolute;
  width: 163px;
  height: 163px;
  top: 0;
  left: -15%;
  background: url("../img/header/01.png") 0 0 no-repeat;
}
.header__container::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 163px;
  height: 163px;
  top: 0;
  right: -15%;
  background: url("../img/header/02.png") 0 0 no-repeat;
}
@media (max-width: 650px) {
  .header__container::before, .header__container::after {
    content: "";
    display: none;
  }
}
.header__logo {
  position: relative;
  z-index: 2;
  display: inline-flex;
  margin: 0 30px 0 0;
  flex: 0 0 55px;
  height: 55px;
}
@media (max-width: 47.99875em) {
  .header__logo {
    flex: 1 1 auto;
    margin: 0;
  }
}
.header__menu {
  margin: 0 30px 0 0;
}
.header__tel {
  position: relative;
  display: inline-flex;
  z-index: 2;
  white-space: nowrap;
  font-weight: 600;
  line-height: 1.25;
  color: rgba(243, 243, 244, 0.7);
  transition: color 0.3s ease 0s;
}
.header__tel:hover {
  color: #fff;
}
@media (max-width: 47.99875em) {
  .header__tel {
    color: #fff;
    margin: 0 15px 0 0;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(104.87deg, #000016 18.21%, #0f1547 60.56%, #000016 90.36%);
    padding: 120px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background: linear-gradient(104.87deg, #000016 18.21%, #0f1547 10.56%, #000016 10.36%);
    z-index: 2;
  }
  .menu-open .menu__body {
    left: 0;
  }
}
@media (min-width: 47.99875em) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
@media (min-width: 47.99875em) and (min-width: 74.375em) {
  .menu__list {
    column-gap: 3.125rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 74.375em) {
  .menu__list {
    column-gap: clamp( 0.625rem , -0.2945402299rem  +  4.5977011494vw , 3.125rem );
  }
}
@media (min-width: 47.99875em) and (max-width: 20em) {
  .menu__list {
    column-gap: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.menu__link {
  line-height: 1.25;
  color: rgba(243, 243, 244, 0.8);
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #fff;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 30px;
    color: #fff;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f3f3f4;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (min-width: 74.375em) {
  .mainpage {
    padding-top: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .mainpage {
    padding-top: clamp( 8.125rem , 6.5158045977rem  +  8.0459770115vw , 12.5rem );
  }
}
@media (max-width: 20em) {
  .mainpage {
    padding-top: 8.125rem;
  }
}
@media (max-width: 62em) and (min-width: 48em) and (max-width: 64em) {
  .mainpage {
    padding-top: clamp( 4.375rem , -20rem  +  50.78125vw , 12.5rem );
  }
}
@media (max-width: 47.1875em) and (min-width: 20em) and (max-width: 47.9375em) {
  .mainpage {
    padding-top: clamp( 7.5rem , 6.1577181208rem  +  6.711409396vw , 9.375rem );
  }
}
@media (max-width: 47.1875em) and (max-width: 20em) {
  .mainpage {
    padding-top: 7.5rem;
  }
}
@media (min-width: 74.375em) {
  .mainpage {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .mainpage {
    padding-bottom: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .mainpage {
    padding-bottom: 1.875rem;
  }
}
.mainpage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 112%;
  top: 0;
  left: 0;
  background: url("../img/main-page/bg.png") 0 0 no-repeat;
}
.mainpage__container {
  display: flex;
  flex-direction: column;
}
.mainpage__title {
  font-family: "Benzin";
  font-size: 200px;
  line-height: 1.3755868545;
  text-align: center;
  position: relative;
  background: linear-gradient(90.67deg, #f0f7ff 26.91%, rgba(255, 255, 255, 0.63) 46.5%, #f0f7ff 78.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 70px;
}
.mainpage__title::before {
  content: "";
  position: absolute;
  width: 119px;
  height: 119px;
  top: 0;
  right: 0;
  background: url("../img/main-page/02.png") 0 0 no-repeat;
  mix-blend-mode: lighten;
  transform: rotate(12.82deg);
}
.mainpage__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -120%;
  left: -30%;
  background: url("../img/main-page/03.png") 0 0 no-repeat;
  mix-blend-mode: normal;
  transform: matrix(0.95, -0.31, -0.31, -0.95, 0, 0);
}
@media (max-width: 1190px) and (min-width: 74.375em) {
  .mainpage__title {
    font-size: 13.125rem;
  }
}
@media (max-width: 1190px) and (min-width: 20em) and (max-width: 74.375em) {
  .mainpage__title {
    font-size: clamp( 3.125rem , -0.5531609195rem  +  18.3908045977vw , 13.125rem );
  }
}
@media (max-width: 1190px) and (max-width: 20em) {
  .mainpage__title {
    font-size: 3.125rem;
  }
}
@media (max-width: 992px) {
  .mainpage__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 47.99875em) {
  .mainpage__title {
    top: -10%;
  }
}
.mainpage__row {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.mainpage__row:not(:last-child) {
  margin: 0 0 100px 0;
}
.mainpage__row::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  top: -300%;
  right: -30%;
  background: url("../img/main-page/03.png") 0 0 no-repeat;
  mix-blend-mode: normal;
  transform: rotate(-162.05deg);
}
@media (min-width: 62em) {
  .mainpage__row::after {
    content: "";
    position: absolute;
    width: 886px;
    height: 1052px;
    top: -15%;
    right: -70%;
    background: url("../img/main-page/phone.png") 0 0 no-repeat;
  }
}
@media (max-width: 992px) {
  .mainpage__row {
    flex-direction: column;
    row-gap: 30px;
  }
  .mainpage__row:not(:last-child) {
    margin: 0 0 35px 0;
  }
}
.mainpage__text {
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 170%;
  color: rgba(243, 243, 244, 0.8);
  max-width: 404px;
}
.mainpage__text span {
  font-weight: 700;
  color: #4195f8;
}
@media (max-width: 992px) {
  .mainpage__text {
    max-width: none;
    text-align: center;
    font-size: 16px;
  }
}
@media (min-width: 62em) {
  .mainpage__text::before {
    content: "";
    position: absolute;
    width: 1072px;
    height: 620px;
    top: -65%;
    left: -120%;
    background: url("../img/main-page/laptop.png") 0 0 no-repeat;
    transform: rotate(-3.52deg);
  }
}
@media (min-width: 43.75em) and (max-width: 62em) {
  .mainpage__text {
    font-size: clamp( 1.125rem , 0.0761986301rem  +  2.397260274vw , 1.5625rem );
  }
}
.mainpage__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -340%;
  right: -18%;
}
@media (min-width: 74.375em) {
  .mainpage__image {
    right: -0.75%rem;
  }
}
@media (min-width: 62em) and (max-width: 74.375em) {
  .mainpage__image {
    right: clamp( -0.0625%rem , 3.3819444444%rem  +  -5.5555555556%vw , -0.75%rem );
  }
}
.mainpage__image img {
  max-width: 100%;
}
@media (max-width: 992px) {
  .mainpage__image {
    display: none;
  }
}
.mainpage__items {
  position: relative;
  z-index: 2;
}
@media (max-width: 992px) {
  .mainpage__items {
    display: flex;
    justify-content: center;
  }
}
.mainpage__items-flex {
  display: flex;
}
@media (max-width: 992px) {
  .mainpage__items-flex {
    flex-wrap: wrap;
    gap: 20px 30px;
    justify-content: space-around;
    margin: 0;
  }
}
.mainpage__item {
  display: flex;
}
@media (min-width: 992px) {
  .mainpage__item:not(:last-child) {
    margin: 0px 30px 40px 0px;
  }
}
.mainpage__icon:not(:last-child) {
  margin: 0 16px 0 0;
}
.mainpage__description {
  font-family: "Benzin";
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: rgba(247, 250, 255, 0.8);
}
.mainpage__btn {
  position: relative;
  z-index: 4;
  margin: 0 auto;
  padding: 53px 117px;
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .mainpage__btn {
    padding-top: clamp( 1.75rem , 1.005952381rem  +  3.7202380952vw , 3.3125rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .mainpage__btn {
    padding-top: 1.75rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .mainpage__btn {
    padding-bottom: clamp( 1.75rem , 1.005952381rem  +  3.7202380952vw , 3.3125rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .mainpage__btn {
    padding-bottom: 1.75rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .mainpage__btn {
    padding-left: clamp( 1.875rem , -0.7142857143rem  +  12.9464285714vw , 7.3125rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .mainpage__btn {
    padding-left: 1.875rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .mainpage__btn {
    padding-right: clamp( 1.875rem , -0.7142857143rem  +  12.9464285714vw , 7.3125rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .mainpage__btn {
    padding-right: 1.875rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .mainpage__btn {
    font-size: clamp( 0.875rem , 0.755952381rem  +  0.5952380952vw , 1.125rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .mainpage__btn {
    font-size: 0.875rem;
  }
}
.cases {
  background: url("../img/cases/bg.png") 0 0 no-repeat;
  position: relative;
  z-index: 3;
}
@media (min-width: 74.375em) {
  .cases {
    padding-top: 15.625rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .cases {
    padding-top: clamp( 1.875rem , -3.1824712644rem  +  25.2873563218vw , 15.625rem );
  }
}
@media (max-width: 20em) {
  .cases {
    padding-top: 1.875rem;
  }
}
@media (min-width: 74.375em) {
  .cases {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .cases {
    padding-bottom: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .cases {
    padding-bottom: 1.875rem;
  }
}
.cases__container {
  position: relative;
}
@media (min-width: 48em) {
  .cases__container::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 30%;
    left: -30%;
    background: url("../img/cases/d1.png") 0 0 no-repeat;
  }
}
.cases__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 95%;
  background: url("../img/cases/d2.png") 0 0 no-repeat;
}
.cases__title {
  position: relative;
}
@media (min-width: 74.375em) {
  .cases__title {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .cases__title {
    margin-bottom: clamp( 2.5rem , 1.5804597701rem  +  4.5977011494vw , 5rem );
  }
}
@media (max-width: 20em) {
  .cases__title {
    margin-bottom: 2.5rem;
  }
}
.cases__title::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 120px;
  height: 130px;
  top: 0;
  left: -10%;
  background: url("../img/cases/d3.png") 0 0 no-repeat;
}
.cases__title::after {
  content: "";
  position: absolute;
  z-index: -2;
  width: 1983px;
  height: 371px;
  top: -390%;
  left: -35%;
  transform: rotate(2deg);
  background: url("../img/cases/lenta.png") 0 0 no-repeat;
}
.cases__body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  height: 100%;
}
.cases__body::before {
  content: "";
  position: absolute;
  z-index: -5;
  width: 5960px;
  height: 1823px;
  left: -310%;
  background: url("../img/cases/lenta2.png") 0 0 no-repeat;
}
@media (min-width: 62.0625em) {
  .cases__body::before {
    top: -50%;
  }
}
@media (max-width: 62em) {
  .cases__body::before {
    top: -28%;
  }
}
.cases__column {
  flex: 0 1 50%;
  padding: 0 40px 0 60px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 62em) {
  .cases__column {
    flex: 1 1 auto;
    padding: 0;
  }
}
.cases__item {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cases__label {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  flex: 1 1 auto;
  margin-bottom: 40px;
}
@media (min-width: 20em) and (max-width: 62em) {
  .cases__label {
    font-size: clamp( 1rem , 0.7619047619rem  +  1.1904761905vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .cases__label {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 62em) {
  .cases__label {
    margin-bottom: clamp( 1.25rem , 0.6547619048rem  +  2.9761904762vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .cases__label {
    margin-bottom: 1.25rem;
  }
}
.cases__image {
  filter: drop-shadow(0px 50px 69px rgba(0, 0, 0, 0.42));
}
.cases__image:not(:last-child) {
  margin: 0 0 50px 0;
}
.cases__image img {
  max-width: 100%;
}
@media (max-width: 62em) {
  .cases__image {
    text-align: center;
  }
}
@media (min-width: 74.375em) {
  .cases__block-values {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .cases__block-values {
    margin-bottom: clamp( 1.875rem , 0.7255747126rem  +  5.7471264368vw , 5rem );
  }
}
@media (max-width: 20em) {
  .cases__block-values {
    margin-bottom: 1.875rem;
  }
}
.cases__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
  column-gap: 20px;
}
.cases__row:not(:last-child) {
  margin: 0 0 32px 0;
}
.cases__btn {
  padding: 40px 73px;
  text-align: center;
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .cases__btn {
    padding-top: clamp( 1.25rem , 0.6547619048rem  +  2.9761904762vw , 2.5rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .cases__btn {
    padding-top: 1.25rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .cases__btn {
    padding-bottom: clamp( 1.25rem , 0.6547619048rem  +  2.9761904762vw , 2.5rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .cases__btn {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .cases__btn {
    padding-left: clamp( 1.875rem , 0.5952380952rem  +  6.3988095238vw , 4.5625rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .cases__btn {
    padding-left: 1.875rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .cases__btn {
    padding-right: clamp( 1.875rem , 0.5952380952rem  +  6.3988095238vw , 4.5625rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .cases__btn {
    padding-right: 1.875rem;
  }
}

.services {
  background: #040421;
}
@media (min-width: 74.375em) {
  .services {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .services {
    padding-top: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .services {
    padding-top: 1.875rem;
  }
}
@media (min-width: 74.375em) {
  .services {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .services {
    padding-bottom: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .services {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 74.375em) {
  .main-slider__title {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .main-slider__title {
    margin-bottom: clamp( 2.5rem , 1.5804597701rem  +  4.5977011494vw , 5rem );
  }
}
@media (max-width: 20em) {
  .main-slider__title {
    margin-bottom: 2.5rem;
  }
}
.slider-main__row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -15px;
}
.slider-main__column {
  flex: 0 1 33.333%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 75em) {
  .slider-main__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 50em) {
  .slider-main__column {
    flex: 1 1 auto;
  }
}
.item-slider-main {
  background: rgba(255, 255, 255, 0.08);
  border: 4px solid rgba(255, 255, 255, 0.16);
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.item-slider-main__top {
  text-align: center;
  padding: 50px 33px;
  flex: 1 1 auto;
}
@media (max-width: 26.5625em) {
  .item-slider-main__top {
    padding: 50px 10px;
  }
}
.item-slider-main__title {
  font-family: "Benzin";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1666666667;
  text-transform: uppercase;
}
@media (max-width: 26.5625em) {
  .item-slider-main__title {
    font-size: 18px;
  }
}
.item-slider-main__middle {
  background: #050832;
  padding: 24px 33px;
  text-align: center;
}
.item-slider-main__cost {
  font-weight: 300;
  font-size: 32px;
  line-height: 0.90625;
  letter-spacing: -0.015em;
}
.item-slider-main__cost span {
  color: #debe27;
  font-weight: 500;
  line-height: 1.21875;
}
.item-slider-main__foot {
  padding: 50px 33px 50px 33px;
  display: flex;
  flex-direction: column;
}
.item-slider-main__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.item-slider-main__link {
  line-height: 1.25;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.75);
}
.item-slider-main__link::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/servisec/list.svg") 0 0 no-repeat;
  margin-right: 15px;
}
.item-slider-main__btn {
  padding: 24px 48px;
  margin-top: 40px;
  display: inline-flex;
  justify-content: center;
  box-shadow: 0px 3px 0px #164782, inset 0px -4px 8px rgba(255, 255, 255, 0.2), inset 0px 4px 8px rgba(255, 255, 255, 0.25);
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .item-slider-main__btn {
    padding-top: clamp( 1.125rem , 0.9464285714rem  +  0.8928571429vw , 1.5rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .item-slider-main__btn {
    padding-top: 1.125rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .item-slider-main__btn {
    padding-bottom: clamp( 1.125rem , 0.9464285714rem  +  0.8928571429vw , 1.5rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .item-slider-main__btn {
    padding-bottom: 1.125rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .item-slider-main__btn {
    padding-left: clamp( 1.875rem , 1.3392857143rem  +  2.6785714286vw , 3rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .item-slider-main__btn {
    padding-left: 1.875rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 62em) {
  .item-slider-main__btn {
    padding-right: clamp( 1.875rem , 1.3392857143rem  +  2.6785714286vw , 3rem );
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .item-slider-main__btn {
    padding-right: 1.875rem;
  }
}

.dignity {
  position: relative;
}
@media (min-width: 74.375em) {
  .dignity {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .dignity {
    padding-top: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .dignity {
    padding-top: 1.875rem;
  }
}
@media (min-width: 74.375em) {
  .dignity {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .dignity {
    padding-bottom: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .dignity {
    padding-bottom: 1.875rem;
  }
}
.dignity::before {
  content: "";
  position: absolute;
  display: block;
  width: 1920px;
  height: 1580px;
  top: 0;
  left: 0;
  background: url("../img/dignity/bg.png") 0 0 no-repeat;
}
.dignity__title {
  margin-bottom: 80px;
}
@media (min-width: 20em) and (max-width: 62em) {
  .dignity__title {
    margin-bottom: clamp( 1.875rem , 0.3869047619rem  +  7.4404761905vw , 5rem );
  }
}
@media (max-width: 20em) {
  .dignity__title {
    margin-bottom: 1.875rem;
  }
}
.dignity__body {
  display: flex;
  flex-direction: column;
  padding: 0 55px;
  row-gap: 56px;
  z-index: 2;
  position: relative;
}
.dignity__column {
  display: flex;
}
@media (min-width: 992px) {
  .dignity__column:nth-child(even) {
    justify-content: flex-end;
  }
}
@media (max-width: 62em) {
  .dignity__column {
    justify-content: center;
  }
}
.dignity__item {
  display: flex;
  flex-direction: column;
  background: rgba(4, 4, 33, 0.44);
  border: 4px solid rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(31px);
  border-radius: 11px;
  padding: 19px 30px;
  max-width: 730px;
}
@media (min-width: 62em) {
  .dignity__item {
    min-width: 730px;
  }
}
.dignity__row {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.dignity__value {
  font-family: "Benzin";
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1666666667;
  background: linear-gradient(254.98deg, #f7f7ff 1.22%, #3d3f4f 102.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
  .dignity__value {
    font-size: clamp( 2.1875rem , 1.6071428571rem  +  2.9017857143vw , 3rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .dignity__value {
    font-size: 2.1875rem;
  }
}
.dignity__text {
  flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.7);
  line-height: 100%;
}
.dignity__text span {
  color: #ffffff;
  font-weight: 700;
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
  .dignity__text {
    font-size: clamp( 0.875rem , 0.6964285714rem  +  0.8928571429vw , 1.125rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .dignity__text {
    font-size: 0.875rem;
  }
}

.interaction {
  background: #040421;
}
@media (min-width: 74.375em) {
  .interaction {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .interaction {
    padding-top: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .interaction {
    padding-top: 1.875rem;
  }
}
@media (min-width: 74.375em) {
  .interaction {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .interaction {
    padding-bottom: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .interaction {
    padding-bottom: 1.875rem;
  }
}
.interaction__container {
  position: relative;
  z-index: 1;
}
@media (min-width: 47.99875em) {
  .interaction__container::before {
    content: "";
    position: absolute;
    width: 1067.53px;
    height: 1410.96px;
    top: -25%;
    left: -30%;
    background: url("../img/interaction/left.png") 0 0 no-repeat;
  }
}
@media (min-width: 992px) {
  .interaction__container::after {
    content: "";
    position: absolute;
    width: 1107.9px;
    height: 1274.01px;
    top: -20%;
    right: -75%;
    background: url("../img/interaction/right.png") 0 0 no-repeat;
  }
}
.interaction__title {
  position: relative;
  z-index: 1;
  margin-bottom: 180px;
  position: relative;
}
@media (min-width: 20em) and (max-width: 62em) {
  .interaction__title {
    margin-bottom: clamp( 7.5rem , 5.7142857143rem  +  8.9285714286vw , 11.25rem );
  }
}
@media (max-width: 20em) {
  .interaction__title {
    margin-bottom: 7.5rem;
  }
}
.interaction__title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: -100%;
  left: 45%;
  background: url("../img/interaction/arrow.png") 0 0 no-repeat;
}
@media (max-width: 47.99875em) {
  .interaction__title::before {
    content: "";
    display: none;
  }
}
.interaction__row {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  row-gap: 160px;
  margin: 0 -15px;
  padding: 0 29px;
}
@media (max-width: 47.99875em) {
  .interaction__row {
    padding: 0;
  }
}
.interaction__column {
  flex: 0 1 33.333%;
  padding: 0 15px;
}
@media (max-width: 64em) {
  .interaction__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 47.99875em) {
  .interaction__column {
    flex: 1 1 auto;
  }
}
.interaction__item {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  text-align: center;
  min-height: 290px;
  height: 100%;
  padding: 0 30px 30px 30px;
}
.interaction__icon {
  margin-bottom: 40px;
  flex: 0 0 120px;
  position: relative;
}
.interaction__icon::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 15%;
  background: linear-gradient(137.79deg, #f5d53f 14.69%, #ccab14 87.13%);
  color: #040421;
  font-size: 18px;
  line-height: 155%;
  font-family: "Benzin";
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interaction__icon_1 {
  margin-top: -100px;
}
.interaction__icon_1::before {
  content: "1";
  top: 0;
}
.interaction__icon_2 {
  margin-top: -70px;
}
.interaction__icon_2::before {
  content: "2";
  top: -28%;
}
.interaction__icon_3 {
  margin-top: -90px;
}
.interaction__icon_3::before {
  content: "3";
  top: -5%;
}
.interaction__icon_4 {
  margin-top: -60px;
}
.interaction__icon_4::before {
  content: "4";
  top: -30%;
}
.interaction__icon_5 {
  margin-top: -50px;
}
.interaction__icon_5::before {
  content: "5";
  top: -48%;
}
.interaction__icon_6 {
  margin-top: -70px;
}
.interaction__icon_6::before {
  content: "6";
  top: -15%;
}
.interaction__label {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2083333333;
  letter-spacing: -0.015em;
}
.interaction__label:not(:last-child) {
  margin-bottom: 32px;
}
.interaction__text {
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 74.375em) {
  .consultation {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .consultation {
    padding-top: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .consultation {
    padding-top: 1.875rem;
  }
}
@media (min-width: 74.375em) {
  .consultation {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.375em) {
  .consultation {
    padding-bottom: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .consultation {
    padding-bottom: 1.875rem;
  }
}
.consultation__container {
  display: flex;
  flex-direction: column;
}
.consultation__title {
  padding-bottom: 100px;
}
.consultation__title span {
  color: #4094f6;
}
@media (min-width: 20em) and (max-width: 62em) {
  .consultation__title {
    padding-bottom: clamp( 1.25rem , -1.130952381rem  +  11.9047619048vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .consultation__title {
    padding-bottom: 1.25rem;
  }
}
.consultation__row {
  display: flex;
  row-gap: 40px;
  column-gap: 30px;
  align-items: center;
}
@media (max-width: 62em) {
  .consultation__row {
    flex-wrap: wrap;
  }
}
.consultation__body {
  flex: 0 1 50%;
  background: #060828;
  box-shadow: 0px 22px 24px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  padding: 50px 30px;
}
@media (max-width: 62em) {
  .consultation__body {
    flex: 1 1 auto;
    padding: 50px 15px;
  }
}
.consultation__information {
  margin: 0 70px;
  flex: 0 1 50%;
}
@media (min-width: 57.5em) and (max-width: 75em) {
  .consultation__information {
    margin-right: clamp( 0rem , -14.375rem  +  25vw , 4.375rem );
  }
}
@media (min-width: 57.5em) and (max-width: 75em) {
  .consultation__information {
    margin-left: clamp( 0.625rem , -11.6964285714rem  +  21.4285714286vw , 4.375rem );
  }
}
@media (max-width: 62em) {
  .consultation__information {
    flex: 1 1 auto;
  }
}
@media (max-width: 57.5em) {
  .consultation__information {
    margin: 0;
  }
}

.body-consultation__title {
  font-family: "Benzin";
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  background: linear-gradient(262.41deg, #f7f7ff 75%, #9194b4 97.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.body-consultation__title:not(:last-child) {
  margin-bottom: 50px;
}
@media (min-width: 20em) and (max-width: 62em) {
  .body-consultation__title {
    font-size: clamp( 2rem , 1.7619047619rem  +  1.1904761905vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .body-consultation__title {
    font-size: 2rem;
  }
}
.body-consultation__text {
  color: rgba(247, 247, 255, 0.7);
  text-align: center;
  line-height: 160%;
}
.body-consultation__text:not(:last-child) {
  margin-bottom: 40px;
}
.body-consultation__text span {
  font-weight: 600;
  color: #fff;
}
.body-consultation__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.body-consultation__input {
  background: #03031d;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 105px;
  color: #f7f7ff;
  padding: 23px 20px;
  width: 100%;
}
.body-consultation__btn {
  width: 100%;
  padding: 25px 0;
  border-radius: 105px;
}

.information-consultation {
  background: #14142c;
  border: 4px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0px 65px 81px rgba(0, 0, 0, 0.45);
  border-radius: 30px;
  padding: 32px;
}
@media (max-width: 62em) {
  .information-consultation {
    text-align: center;
  }
}
.information-consultation__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 105%;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  text-align: center;
  color: #f7f7ff;
  margin-bottom: 40px;
}
.information-consultation__row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  margin-bottom: 30px;
}
@media (max-width: 62em) {
  .information-consultation__row {
    justify-content: center;
    row-gap: 10px;
  }
}
.information-consultation__column:not(:last-child) {
  margin-bottom: 30px;
}

.column-consultation {
  display: flex;
  flex-direction: column;
}
.column-consultation__block:not(:last-child) {
  margin-bottom: 30px;
}
.column-consultation__title {
  line-height: 1.25;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
.column-consultation__row {
  display: flex;
  gap: 16px;
}
.column-consultation__sub {
  color: #ffffff;
  line-height: 1.25;
}
